.post{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.65); 
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.65); 
}

.postWrapper{
    padding: 10px;
}
.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postProfileImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.postUserName{
    font-size: 15px;
    font-weight: 500;
    margin-left: 8px;
}
.postCenter{
    margin: 20px 0;
}
.postImage{
    width: 100%;
    max-height: 500px;
    margin-top: 20px;
    border-radius: 10px;
    object-fit: cover;
}
