.topbarContainer{
    height: 50px;
    width: 100%;
    background-color:blue;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
 
.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color:white;
    cursor: pointer;
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 70%;
}

.searchInput:focus{
    outline: none;
}
.topbarLeft{
    flex: 3;
}

.topbarCenter{
    flex: 5;
}

.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:white;
}
.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}
.topbarIcons{
  display: flex;
}
.topbarIconItem{
   margin-right: 15px;
   cursor: pointer;
   position: relative;
   color: white;
}
.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position:absolute;
    margin-right: -5px;

}
.topbarImage{
    height: 32px;
    width: 32px;
}